<!--STEP 5: Set up for teamTmpl file-->
<!-- I -->
<!--Now is the fun part. If everything is working correctly, 
our team controller and team service should be set up and now all 
we need to do is put that data onto the view. Head over to your 
teamTmpl.html file and check it out.-->

<!-- 1 -->
<!--Notice that there are a lot of $__FIXME__$. 
All of those need to be filled in with properties that are on the teamCtrl. 
This could be really hard or really easy depending on how you tackle the problem.
If it were me, I would console.log the $scope object to see all the properties that you're able to use.-->

<div class="inner-container">
    <div class="logo">
        <img ng-src="{{logoPath}}">
    </div>
    <div class="record">
        <h1> Wins: {{homeTeam}} Losses: {{opponent}} </h1>
    </div>
    <div class="btn" ng-click="toggleNewGameForm()"> Add a New Game </div>
    <form ng-show="showNewGameForm" class="form">
        <span class="large"> Opponent: </span>
        <br />
        <select ng-model="newGame" ng-options="team for team in teams" 
        class="form-control" required name="team"></select>
        <br />
        <span class="large"> Score: </span>
        <br /> ????????:
        <input class="inputs" type="text" ng-model="$__FIXME__$" placeholder="Home Score"> ????????:
        <input type="text" class="inputs" ng-model="$__FIXME__$" placeholder="Opponent Score">
        <br />
        <button ng-click="submitGame"> Submit Game </button>
    </form>
    <div class="team-data">
        <div class="game" ng-repeat="game in teamData" ng-class="{'even' : $index % 2 === 0}">
            <!-- Each game should end up looking something like this:
        Date: May 29, 1997
        Utah Jazz - 103
        Houston Rockets - 100
      -->
            Date: ????????
            <br /> ???????? - ????????
            <br /> ???????? - ????????
            </br />
        </div>
    </div>
</div>


